<h2><%= @user.username %>'s Profile</h2>

<h3>Comments</h3>
<%= render 'comments/index', object: @user %>

<h3>New Comment</h3>
<%= render 'comments/new', commentable_id: @user.id, commentable_type: "User" %>

<h3><%= @user.username %>'s Goals</h3>
<% if current_user == @user %>
  <%= link_to "New Goal", new_goal_url %>
<% end %>
<ul>
  <% @user.goals.each do |goal| %>
    <% if logged_in? &&
          current_user.id == @user.id &&
          goal.private == true %>
      <li><%= link_to goal.title, goal_url(goal) %></li>
    <% elsif goal.private == false %>
      <li><%= link_to goal.title, goal_url(goal) %></li>
    <% end %>
  <% end %>
</ul>
