<h2><%= @user.username %>'s Profile</h2>

<h3>Comments</h3>
<ul>
  <% @user.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>

<h3><%= @user.username %>'s Goals</h3>

<h3>New Comment</h3>

<form action="<%= comments_url %>" method="post">
  <%= auth_token %>

  <label for="comment_body">Comment</label>
  <textarea id="comment_body" name="comment[body]"></textarea>

  <input type="hidden"
         name="comment[commentable_id]"
         value="<%= @user.id %>">

  <input type="hidden"
         name="comment[commentable_type]"
         value="User">

  <input type="submit" value="Save Comment">
</form>

<ul>
  <% @user.goals.each do |goal| %>
    <% if logged_in? &&
          current_user.id == @user.id &&
          goal.private == true %>
      <li><%= link_to goal.title, goal_url(goal) %></li>
    <% elsif goal.private == false %>
      <li><%= link_to goal.title, goal_url(goal) %></li>
    <% end %>
  <% end %>
</ul>
