<h2>Goal:</h2>

<% if !flash[:notice].nil? %>
  <%= flash[:notice] %>
<% end %>

<table>
  <tr>
    <th>Title:</th>
    <td><%= @goal.title %></td>
  </tr>

  <tr>
    <th>Details:</td>
    <td><%= @goal.details %></td>
  </tr>

  <tr>
    <th>Visibility:</th>
    <% private_text = @goal.private == false ? "Public" : "Private" %>
    <td><%= private_text %></td>
  </tr>

  <tr>
    <th>Finished?:</th>
    <% completed_text = @goal.completed == false ? "Ongoing" : "Completed" %>
    <td><%= completed_text %></td>
  </tr>

  <tr>
    <th>Completed?:</th>
    <td>
      <form action="<%= goal_url(@goal) %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden"
               name="goal[completed]"
               value="<%= !@goal.completed %>">
        <% if @goal.completed %>
          <% value = "Opps! Did not complete." %>
        <% else %>
          <% value = "Complete" %>
        <% end %>
        <input type="submit" value="<%= value %>">
      </form>
    </td>
  </tr>
</table>

<h3>Comments</h3>
<%= render 'comments/index', object: @goal %>

<h3>New Comment</h3>
<%= render 'comments/new', commentable_id: @goal.id, commentable_type: "Goal" %>
